.section {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 10px;
}

.section__header {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section__container {
    padding: 20px;
    margin: 0;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .section__container {
        flex-basis: 100%;
    }
}

.section__container--hidden {
    height: 0px;
    padding: 0px;
}

.section__featureButton {
    margin-left: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
    color: #666;
    transition: color 0.3s;
}

@media (max-width: 767px) {
    .section__featureButton {
        flex-basis: 100%;
        margin: 10px;
    }
}

.section__featureButton:hover {
    color: #000;
}

.section__featureButton:disabled {
    color: #AAA;
}